sudo: required
services:
  - docker
before_install:
  - docker build -t jwalberg/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true jwalberg/react-test npm test -- --coverage

after_success:
 - docker build -t jwalberg/multi-client -f ./client
 - docker build -t jwalberg/multi-nginx -f ./nginx
 - docker build -t jwalberg/multi-server -f ./server
 - docker build -t jwalberg/multi-worker -f ./worker
 - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
 - docker push jwalberg/multi-client
 - docker push jwalberg/multi-nginx
 - docker push jwalberg/multi-server
 - docker push jwalberg/multi-worker